<html>
    <head>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/user_profile.css">
        <link rel="stylesheet" href="/css/footer.css">

    </head>
    <body>
        <%-include('_header');%>
        <main id="layout-main">
            <%-body%>
        </main>

        <%-include('_footer');%>
    </body>
</html>