<h1>Sign Up</h1>

<form formaction = "/users/create" method="POST">
    <input type="text" name="name" placeholder="YOUR NAME" required>
    <input type="email" name="email" placeholder="YOUR EMAIL" required>
    <input type="password" name="password" placeholder="PASSWORD" required>
    <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD" required>
    <input type="submit" value="Sign Up">
</form>